*{
    padding:0px;
    margin:0px;
    background-color: rgb(54, 54, 54);
}

img {
    width: 100%;
    height:600px;
}


.nav{
   margin-top:15.5px;
   width: 100%;
}

li {
    display: inline;
    padding: 20px;
    margin-left: 200px;
    
    
}

a {
    
    color:white;
    text-decoration: none;
    background: transparent;
    opacity: .7;
    font-weight: bold;
}